<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
      src="assets\images\brunao.jpg"
      alt="noticia"
      height=""
      srcset=""
      >
    </div>
    <div class="small-card__text">
      <div class="small-card__title">
        <h1><a href="">Brunão está sendo processado</a></h1>
      </div>
      <div class="small-card__noticia">
        <p>Brunão, sambista não muito conhecido nas rodas de samba universitárias, está sendo processado por repicar demais em uma das menos tradicionais rodas de São Paulo.</p>
      </div>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>

