<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <a href="{{ smallCardPhotoCover }}" target="_blank">
      <img
      src="{{ smallCardPhotoCover }}"
      alt="noticia"
      height=""
      srcset=""
      >
      </a>
    </div>
    <div class="small-card__text">
      <div class="small-card__title">
        <h1><a href="">{{ smallCardTitle }}</a></h1>
      </div>
      <div class="small-card__noticia">
        <p>{{ smallCardDescription }}</p>
      </div>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr/>
  </div>
</div>

