<div class="container">
  <header>
    <app-menu-bar></app-menu-bar>
  </header>
  <app-menu-title></app-menu-title>
  <div class="container__articles">
    <div class="articles__main">
      <app-big-card

        photoCover="assets/images/IMG_0093.png"

        cardTitle="Jericoacoara"

        cardDescription="Jericoacoara, paraíso no litoral do Ceará, encanta com suas dunas, praias intocadas e pôr do sol icônico. Refúgio perfeito para amantes da natureza e esportes aquáticos."

      ></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card

        smallCardPhotoCover="assets/images/IMG_0339.png"

        smallCardTitle="Mãe e madrinha"

        smallCardDescription="Foto tirada proximo à pedra furada, ponto turístico da região"

      ></app-small-card>
      <app-small-card

        smallCardPhotoCover="assets/images/IMG_0337.png"

        smallCardTitle="Flora"

        smallCardDescription="A flora de Jericoacoara exibe uma diversidade única, adaptada ao clima árido. Cactos, bromélias e vegetação de restinga predominam, em perfeita harmonia com as dunas e o ecossistema costeiro."

      ></app-small-card>
      <app-small-card

        smallCardPhotoCover="assets/images/IMG_0256.png"

        smallCardTitle="Esportes aquáticos"

        smallCardDescription="Jericoacoara oferece uma variedade emocionante de esportes aquáticos. Windsurfe, kitesurfe e stand-up paddle prosperam em suas águas ideais, atraindo entusiastas de todo o mundo."

      ></app-small-card>
    </div>
  </div>
</div>
