.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__articles{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-items: center;
}

header {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

