<div class="container__big-card">
      <div class="big-card__photo">
        <img
        src="https://live.staticflickr.com/5230/5606893810_3ecf9d946e_b.jpg"
        alt="noticia"
        height="200px"
        srcset=""
        >
      </div>
  <div class="big-card__title">
    <h1><a href="">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis nulla at urna vestibulum, ut viverra magna posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin imperdiet, magna in faucibus ullamcorper, dolor orci finibus risus, consequat dictum nisi ex vitae quam. Donec tempus justo ipsum, id tempor magna pretium eu. Phasellus eget molestie ligula, at accumsan diam. Suspendisse laoreet in magna nec tincidunt. Phasellus placerat leo lectus.</a>
      </p>
  </div>
</div>
